<div class="card">
  <div class="table-responsive">

    <table class="table table-sm rounded">
      <thead class="thead-light">
        <tr>
          <th colspan="3" class="text-center">
            <h4>{{tableName}}</h4>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td colspan="3">
            <h5 class="text-center">23%</h5>
          </td>
        </tr>
        <tr *ngFor="let d of data">
          <td>{{d.description}}</td>
          <td>{{d.formattedValue}}</td>
          <td>{{d.formattedChange}}</td>
        </tr>
      </tbody>
    </table>

  </div>
</div>
